# Ignore Node.js modules
node_modules/

# Ignore build directories
dist/
build/

# Ignore local environment files
.env
.cursorrules
.cursor
assets/
config/menus/local/
config/log/
.DS_Store
.claude
.cursorrules
.roo
 .DS_Store
